.user_profile {
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    margin-left: 10px;
}

.user_profile__photo {
    height: 90%;
    border-radius: 50%;
}

.options {
    cursor: pointer;
    list-style: none;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 60px;
    background-color: lightblue;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);

    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.options--visible {
    opacity: 100;
    visibility: visible;
}

.options__item {
    padding: 2px 8px;
    border-radius: 3px;
    transition: background-color .1s ease-in-out;
}

.options__item:hover {
    background-color: #dcf08c;
}