.field {
  position: relative;
  display: flex;
  gap: 5px;
  margin: 0 10px;
  flex-direction: column;
  align-items: stretch;
  width: 80%;
}

.field__error {
  opacity: 0;
  padding: 2px 5px;
  position: absolute;
  bottom: -17px;
  right: 0;

  transition: opacity 0.3s ease-in-out;
}

.field__error--visible {
  opacity: 100;
}

.field__error_message {
  font-size: 11px;
  color: darkred;
}
