.input {
  padding: 1px 5px;
  line-height: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 0 3px;
  cursor: text;
  border: 1px solid white;

  transition: border 0.3s ease-in-out;
}

.input--error {
  border: 1px solid darkred;
}

.input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
