body {
  margin: 0 auto;
  width: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
}


#root {
  --header-height: 55px;
  --layout-width: 1200px;

  width: 100%;
}