.item_cont {
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    display: flex;
    cursor: pointer;
    overflow: hidden;
    height: 170px;

    transition: all .1s ease-in-out;
}

.item_cont:hover {
    transform: scale(104%);
}

.photo {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    width: 170px;
}

.photo__image {
    width: 100%;
}

.user_data {
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: 5px 10px;
}

.user_data__label {
    cursor: pointer;
    font-size: 12px;
    color: grey;
}

.user_data__value {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    text-overflow: ellipsis;
}